heroku:
  # WARNING! The tests create and destroy Heroku apps
  email: user@example.org
  token: 123123123123123123123123123123

papertrail:
  syslog:
    host: logs.papertrailapp.com
    port: 12345_CONFIGURE_ME_IN_test_config.yml

  addon:
    token: abc12345ABCDEF123456